:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-style: normal;
  font-weight: 500;
}

img {
  display: block;
}

ul {
  padding-left: 0;
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

/* Header */
.header-container .container {
  display: flex;
  
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
  display: inline-block;
}

.web-logo {
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.header-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  bottom: -2px;
}

.header-item-link.active {
  position: relative;
  color: #404bbf;
}

.header-item-link.active::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contacts {
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.header-item-link:hover {
  color: #404bbf;
}

.header-list .link:focus {
  color: #404bbf;
}

.item .link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-list {
  display: flex;
  gap: 40px;
}

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.contacts-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero */
.first-section {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/header-image.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
}

.text-hero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  line-height: 1.07;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  max-width: 496px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.order-servise {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Section 2 */
.second-section-list {
  display: flex;
  gap: 24px;
}

.second-container {
  padding: 120px 0;
}

.item-strategy {
  width: calc((100% - 72px) / 4);
}

.strategy-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
  margin-top: 0;
}

.strategy-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 0;
}

.second-section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  fill: currentColor;
}

/* Section 3 */
.section-subject {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.third-section {
  padding-bottom: 120px;
}

.list {
  list-style: none;
}

.first-image-item {
  width: calc((100% - 48px) / 3);
}

.third-section-list {
  display: flex;
  gap: 24px;
}

/* Section 4 */
.team-subject {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-image {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-name-container {
  padding: 32px 0;
}

.team-social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover,
.icons-link:focus {
  background-color: #404bbf;
}

.instagram-icon {
  fill: #f4f4fd;
}

.icons-item {
  width: 40px;
  height: 40px;
}

.hidden-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}

.hidden-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.fourth-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.fourth-section-list {
  display: flex;
  gap: 24px;
}

/* Section-5  */
.fifth-section {
  padding: 120px 0;
}

.fifth-section-title {
  font-size: 36px;
  line-height: 1.1;
  color: #2e2f42;
  margin-bottom: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

.fifth-section-list {
  display: flex;
  gap: 24px;
}

.fifth-section-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.fifth-section-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fifth-section-icon {
  fill: currentColor;
}

.fifth-section-icon:hover {
  color: #404bbf;
}

.fifth-section-icon:focus {
  color: #404bbf;
}

.fifth-section-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.fifth-section-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/* Footer */
.footer {
  background: #2e2f42;
  padding: 100px 0;

  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  display: block;
}

.web-logo-footer {
  color: #f4f4fd;
}

.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 0;
  display: inline-block;
  margin-bottom: 16px;
}

.section-footer {
  display: flex;
  align-items: baseline;
}

.footer-container {
  margin-right: 120px;
}

.second-footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-list-item {
  width: 40px;
  height: 40px;
}

.footer-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover {
  background-color: #31d0aa;
}

.footer-list-link:focus {
  background-color: #31d0aa;
}

.footer-icons {
  fill: #f4f4fd;
}

/* Portfolio */
.button-list {
  display: flex;
  margin-right: 40px;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
  list-style: none;
}

.nav-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio .link {
  text-decoration: none;
}

.portfolio {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover .image-container-text,
.portfolio:focus .image-container-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-section {
  padding: 96px 0 120px;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

/* Modal-window */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-head {
  width: 360px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 30px;
}

.lab-inp-name {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 8px;
  outline: none;
}
.input-field:focus-within .svg-name {
  fill: var(--color-iris) !important;
}
.input-field:focus-within .lab-inp-name {
  border-color: var(--color-iris);
}
.lab-inp-text {
  width: 360px;
  height: 120px;
  padding-bottom: 98px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 8px;
  outline: none;
}
.input-field:focus-within .lab-inp-text {
  border-color: var(--color-iris);
}

.svg-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 16px;
  left: 0;
}

.modal-window-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.lab-name,
.lab-phone,
.lab-email,
.lab-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-span {
  width: 338px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 8px;
  position: absolute;
  margin-top: 3px;
}

.modal-window-button {
  margin-left: 100px;
  margin-top: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 64px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button:hover,
.modal-window-button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-privacy {
  width: 338px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--color-iris);
}

.lab-inp-privacy {
  appearance: none;
  position: absolute;
}
.lab-inp-privacy:checked + .checkbox-icon {
  background-color: #404bbf;
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #404bbf;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

/* Footer form */
.footer-form {
  margin-left: auto;
}

.input-field {
  position: relative;
}
.form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.form-footer-text {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2e2f42;
  width: 264px;
  height: 40px;
  margin-right: 16px;
  padding-left: 16px;
  color: white;
}

.form-footer-text::placeholder {
  color: white;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  background: #4d5ae5;
  border-radius: 4px;
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.form-button:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404bbf;
}

.button-form-title {
  width: 77px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.mobile-menu-link {
  color: #2e2f42;
  text-decoration: none;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}
.mobile-contacts-link {
  color: #434455;
}
.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: #4d5ae5;
}
.mobile-contacts-number {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  width: 353px
}
.mobile-contacts-mail {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}
/* Mobile menu */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}


.menu-container {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  padding-top: 80px;
  background-color: #fff;
  z-index: 999;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  display: flex;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #000;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;

  text-decoration: none;
}
.menu-container .footer-list {
gap: 56px;
}
.mobile-contacts-link {
  text-decoration: none;
}


@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 738px;
  }
  .header-item-link.active::after {
    bottom: -19px;
  }

  .item-strategy {
    width: 100%;
  }
  .second-section-icon {
    display: none;
  }

  .second-section-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 72px 24px;
    flex-flow: row wrap;
  }
  .item-strategy {
    width: 100%;
  }
  .second-section-icon {
    display: none;
  }
  .strategy-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }
  .strategy-text {
    font-weight: 500;
  }

  .third-section {
    display: none;
  }

  .fourth-section-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px 24px;
    max-width: 552px;
    margin: 0 auto;
  }
  .team-image {
    width: 100%;
  }
  .fifth-section-list {
    max-width: 552px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 72px 24px;
  }
  .fifth-section-item {
    width: 100%;
  }

  .contacts-list {
    flex-flow: column;
    gap: 12px;
  }

  .section-footer {
    flex-flow: row wrap;
    gap: 72px 24px;
    max-width: 552px;
  }
  .footer-form {
    width: 100%;
  }
  .footer-container {
    margin-right: 0;
  }
}

@media (max-width: 720px) {
  .container {
    width: 100%;
    max-width: 396px;
  }
  .header-list {
    display: none;
  }
  .contacts {
    display: none;
  }
  .item-strategy {
    width: 100%;
  }
  .second-section-icon {
    display: none;
  }
  .second-section-list {
    display: flex;
  }
  .strategy-title {
    text-align: center;
  }
  .text-hero {
    font-size: 36px;
  }
  .fifth-section-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-list {
    gap: 56px;
    justify-content: flex-start;
  }
  .fourth-section-list {
    grid-template-columns: 1fr;
  }
  .fourth-section .container {
    max-width: 264px;
  }
  .team-social-icons {
    padding: 0 16px;
    justify-content: flex-start;
  }
  .footer-container-body {
    width: 100%;
  }
  .footer-list {
    justify-content: center;
    gap: 16px;
  }
  .second-footer-text {
    text-align: center;
  }
  .footer-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
  }
  .logo-link-footer {
    margin-right: 0;
  }
  .section-footer.container {
    max-width: 100%;
    padding: 0 16px;
  }
  .footer-form .form-title { text-align: center; }
  .form-footer-text {
    width: 100%;
  }
  .form-button {
    margin-top: 16px;
  }
  .footer-form form {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .footer-form label {
    width: 100%;
  }
  .header-container .container {
    padding: 0 16px;
    max-width: 100%;
  }
}
@media (min-width: 720px) {
  .menu-toggle {
    display: none;
  }
}
